@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'react-date-range/dist/styles.css'; 
@import 'react-date-range/dist/theme/default.css';

html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 0;
}

.flex-col-style {
  @apply flex flex-col items-center;
}


.flex-row-style {
  @apply flex flex-row items-center;
}

.border-circle{
  @apply border rounded-full flex items-center justify-center;
}

.input-style{
  @apply bg-inherit w-80 p-2 border m-2 rounded-lg;
}

.button-border-style{
  @apply border rounded-lg px-2 font-light hover:opacity-60;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
